* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
#name {
    font-family: 'Pacifico', cursive;
    padding-bottom: 10px;
}
#columns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.column {
    padding-right: 150px;
}
.column-header {
    padding-bottom: 20px;
}
.column-info {
    margin-top: 15px;
    color: rgb(109, 109, 109);
}
#sub-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    margin-left: 60px;
}
.sub {
    margin-top: 30px;
}
#email {
    line-height: 20px;
}
#contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 60px;
}
.inline {
    display: inline;
}
#sub-button {
    background-color: black;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    padding: 7px 15px 7px 15px;
    color: white;
}
#sub-button:hover {
    background-color: darkgrey;
}
#buttons {
    margin-top: 15px;
}
.no-background {
    font-size: 30px;
    padding-right: 10px;
    border: none;
    background-color: transparent;
    outline: none;
}
button:hover {
    background-color: darkgray;
    cursor: pointer;
}